name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Instalar Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Instalar dependencias NPM
        run: npm install

      - name: Ejecutar ESLint
        run: npm run lint

      - name: Ejecutar pruebas Jest
        run: npm test

      - name: Instalar JDK
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Ejecutar Maven (Compilar + Pruebas JUnit + Checkstyle)
        run: mvn -B clean verify
